.ftco-section {
  padding: 7em 0;
  position: relative;
 }

 .row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
 }

@media (max-width: 767.98px) {
  .ftco-section {
    padding: 6em 0;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
 }

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
 }

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
 }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
 }

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.pricing-entry {
  border: 1px solid #f9d0d1;
  position: relative;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

  @media (max-width: 767.98px) {
    .pricing-entry {
      margin-bottom: 4em;
    }
  }
  .pricing-entry > div {
    padding: 20px;
  }
    .pricing-entry > div p {
      margin-bottom: 0;
    }
  .pricing-entry h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #f18c8e;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
 }
  .pricing-entry p .price {
    font-weight: 900;
    font-size: 28px;
    color: #563b4c;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
   }
  .pricing-entry p .per {
    font-size: 12px;
  }
  .pricing-entry ul {
    margin: 0;
    padding: 0;
   }
    .pricing-entry ul li {
      list-style: none;
      padding: 10px 20px;
    }
      .pricing-entry ul li:nth-child(odd) {
        background: #fafafa;
       }
  .pricing-entry .button {
    position: absolute;
    bottom: -26px;
    left: 0;
    right: 0;
    margin-bottom: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .pricing-entry .button .btn {
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
     }
  .pricing-entry:hover, .pricing-entry:focus {
    margin-top: -10px;
    border: 1px solid #563b4c;
  }
    .pricing-entry:hover .btn, .pricing-entry:focus .btn {
      background: #563b4c !important;
      border: 1px solid #563b4c !important;
      color: #fff !important;
    }
    .pricing-entry:hover .price, .pricing-entry:focus .price {
      color: #563b4c;
    }
    .pricing-entry:hover h3, .pricing-entry:focus h3 {
      color: #563b4c;
     }

     .pb-5,
     .py-5 {
       padding-bottom: 3rem !important; }
       .text-center {
         text-align: center !important; }
       .ftco-media.text-center .ftco-icon {
         margin: 0 auto; }
